.form-control:focus {
    border-color: #fff;
    outline: 0;   //删除了outline的默认样式
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);  //添加了阴影效果
    box-shadow: 0;
}
.header{
    box-shadow: none;
    min-height: 8%;
    background: #438eb9;
    .fl{
        color: #ffffff;
        font-size: 24px;
        text-shadow: none;
        padding-top: 8px;
        margin-left:20px;
        height: auto;
    }
}

.content{
    height:92%;
    .navleft{
        width:11%;
         height:100%;
        background-color: #f2f2f2;
        border-style: solid;
        border-color: #cccccc;
        border-width: 0 1px 0 0;
        .navlist{
            li{
                display: block;
                position: relative;
                border-style: solid;
                border-width: 0 0 1px;
                border-color: #e5e5e5;
                height:39px;
                a{
                    display:block;
                    height: auto;
                    line-height: 16px;
                    padding: 2px 0 8px;
                    text-indent:10px;
                    color: #585858;
                    line-height: 39px;
                    height: 39px;
                    padding:0 10px;
                    &:hover{
                        color: #2b7dbc;
                        background:#fff;
                        text-decoration:none;
                    }
                    i{
                        display: block;
                        margin: 0;
                        vertical-align: inherit;
                        line-height: 39px;
                        height: 39px;
                        font-size: 18px;
                    }
                    b{
                        display:block;
                        width:20px;height:20px;
                        float:right;
                        margin-top:11px;
                        font-weight:normal;
                    }
                }
            }
        }
    }
    .content-right{
        width: 89%;
        p{
            margin:0px;
            line-height: 37px;
            height:37px;
            background-color: #f9f9f9;
        }
        .title{
            float: left;
            margin-left:14px;
            margin-top:2px;
            position:relative;
            padding-left:20px;
           
            i{
                margin-top:10px;
                left:0px;
                color:#5cb85c;
                position: absolute;
            }
        }
        .change{
            height:40px;
            border-top:1px solid #DCE8F1;
            border-bottom:1px solid #E0E2E5;
            background-color:#F8FAFC;
            .btn{
                margin-top:5px;margin-right:5px;height:30px;line-height:16px;
                border-radius:0px;width:60px;font-size:12px;
            }
            .btn-success{
                margin-left:-75px;

            }
        }
        .tablebox{
            // width:1100px;   
            padding:10px;
            .l-form{
                div{padding-left:10px;float:left;width:370px;line-height:33px;}
                input{height:33px;width:290px;margin-left:10px;margin-bottom:10px;float:right;}
                .btn{float: right;}
                
            }
            
            .l-table{
                &:first-child{width:20px;height:33px;}
                th{
                    padding:10px 20px;border:1px solid #E1E1E1;
                }
                tr{
                    border:1px solid #E1E1E1;
                    td{
                        border-right:1px solid #E1E1E1;
                        height:33px;
                        text-align:center;
                        >i{
                            &:hover{cursor:pointer;}
                            font-size:12px;margin-right:5px;margin-left:5px;color:#58bc58;
                        }
                        .deltr{color:red;}
                        input{
                            width:50px;
                            border:0 ;
                            color: #303030;
                            background-color: #fff;
                            // border: 1px solid #d5d5d5;
                            padding: 5px 4px 6px;
                            font-size: 14px;
                            outline:none;

                        }
                    }
                }
            }
            .l-div{
                // margin-right:407px;
                margin-top:10px;
            }

            //2次Loading
            .list{
                .selector{background:#ffe48d;}
                th{
                     padding:10px 40px;border:1px solid #E1E1E1;
                     background:#FBFBFB;
                }
                tr{
                    border:1px solid #E1E1E1;
                    &:hover{background:#FBFBFB;}
                    td{
                        border-right:1px solid #E1E1E1;
                        height:33px;
                        text-align:center;
                        span{
                            background:#3a87ad;
                        }
                    }
                }
            }

            .l-tab{
                tr{
                    &:hover{ background:#FBFBFB;}
                    border:1px solid #E1E1E1;
                    th{
                        padding:10px 40px;border:1px solid #E1E1E1;
                         background:#FBFBFB;
                    }
                    td{
                        border-right:1px solid #E1E1E1;
                        text-align:center;
                        padding:5px;
                    }
                }
            }
        }
    }
}