.header{
    box-shadow: none;
    min-height: 8%;
    background: #438eb9;
    .fl{
        color: #ffffff;
        font-size: 24px;
        text-shadow: none;
        padding-top: 8px;
        margin-left:20px;
        height: auto;
    }
}

.content{
    height:92%;
    .navleft{
        width:11%;
         height:100%;
        background-color: #f2f2f2;
        border-style: solid;
        border-color: #cccccc;
        border-width: 0 1px 0 0;
        .navlist{
            li{
                display: block;
                position: relative;
                border-style: solid;
                border-width: 0 0 1px;
                border-color: #e5e5e5;
                height:39px;
                a{
                    display:block;
                    height: auto;
                    line-height: 16px;
                    padding: 2px 0 8px;
                    text-indent:10px;
                    color: #585858;
                    line-height: 39px;
                    height: 39px;
                    padding:0 10px;
                    &:hover{
                        color: #2b7dbc;
                        background:#fff;
                        text-decoration:none;
                    }
                    i{
                        display: block;
                        margin: 0;
                        vertical-align: inherit;
                        line-height: 39px;
                        height: 39px;
                        font-size: 18px;
                    }
                    b{
                        display:block;
                        width:20px;height:20px;
                        float:right;
                        margin-top:11px;
                        font-weight:normal;
                    }
                }
            }
        }
    }
    .content-right{
        width: 89%;
        p{
            margin:0px;
            line-height: 37px;
            height:37px;
            background-color: #f9f9f9;
        }
        .title{
            float: left;
            margin-left:14px;
            margin-top:2px;
            position:relative;
            padding-left:20px;
           
            i{
                margin-top:10px;
                left:0px;
                color:#5cb85c;
                position: absolute;
            }
        }
        .change{
            height:40px;
            border-top:1px solid #DCE8F1;
            border-bottom:1px solid #E0E2E5;
            background-color:#F8FAFC;
            .btn{
                margin-top:5px;margin-right:5px;height:30px;line-height:16px;
                border-radius:0px;width:60px;font-size:12px;
            }
            .btn-success{
                margin-left:-75px;

            }
        }

        .t-table{
            thead{
                tr{
                    th{text-align: center;width:120px;height: 38px;

                    }
                }
            }
            tbody{
                tr:hover{background-color:#EEEEEE;}
                tr{
                    th{text-align: center;width:120px;height: 38px;
                        .add{color:#449D44;margin-right:10px;}
                        .remove{color:#C9302C;}
                    }
                    td{text-align: center;width:120px;height: 38px;
                        
                        input{border:none;width:120px;height: 38px;text-align: center;}
                    }
                }
            }
            tfoot{
                tr:hover{background-color:#EEEEEE;}
                tr{
                    th{text-align: center;width:120px;height: 38px;
                        .add{color:#449D44;margin-right:10px;}
                        .remove{color:#C9302C;}
                    }
                    td{text-align: center;width:120px;height: 38px;
                        
                        input{border:none;width:120px;height: 38px;text-align: center;}
                    }
                }
            }  
        }
        .page{width: 1000px;height: 50px;margin-left: 10px;margin-top:10px;
                ul{float:right;
                li{float:left;width: 30px;height: 30px;background-color:#31B0D5;margin-right:10px;line-height:30px;text-align: center;
                    &:last-child{margin-right:50px;}
                }
            }
        }

    }
}