body,h1,h2,h3,h4,p,ul,li,ol,dl,dd,dt{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float:left;
}
html,body{
    font-style: '微软雅黑';
    font-size: 14px;
    height:100%;
}
.fr{
    float:right;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.clearfix:after{
    overflow:hidden;
    content:"";
    height: 0;
    display:block;
    clear:both;
    visibility:hidden;
    zoom:1;
}
