.header { box-shadow: none; min-height: 8%; background: #438eb9; }

.header .fl { color: #ffffff; font-size: 24px; text-shadow: none; padding-top: 8px; margin-left: 20px; height: auto; }

.content { height: 92%; }

.content .navleft { width: 11%; height: 100%; background-color: #f2f2f2; border-style: solid; border-color: #cccccc; border-width: 0 1px 0 0; }

.content .navleft .navlist li { display: block; position: relative; border-style: solid; border-width: 0 0 1px; border-color: #e5e5e5; height: 39px; }

.content .navleft .navlist li a { display: block; height: auto; line-height: 16px; padding: 2px 0 8px; text-indent: 10px; color: #585858; line-height: 39px; height: 39px; padding: 0 10px; }

.content .navleft .navlist li a:hover { color: #2b7dbc; background: #fff; text-decoration: none; }

.content .navleft .navlist li a i { display: block; margin: 0; vertical-align: inherit; line-height: 39px; height: 39px; font-size: 18px; }

.content .navleft .navlist li a b { display: block; width: 20px; height: 20px; float: right; margin-top: 11px; font-weight: normal; }

.content .content-right { width: 89%; position: relative; }

.content .content-right p { margin: 0px; line-height: 37px; height: 37px; background-color: #f9f9f9; }

.content .content-right .title { float: left; margin-left: 14px; margin-top: 2px; position: relative; padding-left: 20px; }

.content .content-right .title i { margin-top: 10px; left: 0px; color: #5cb85c; position: absolute; }

.content .content-right .change { height: 40px; border-top: 1px solid #DCE8F1; border-bottom: 1px solid #E0E2E5; background-color: #F8FAFC; }

.content .content-right .change .btn { margin-top: 5px; margin-right: 5px; height: 30px; line-height: 16px; border-radius: 0px; width: 60px; font-size: 12px; }

.content .content-right .change .btn-success { margin-left: -65px; }

.content .content-right .change .z-find { display: inline-block; margin-top: 5px; margin-right: 5px; }

.content .content-right .change .z-find .form-control-1 { display: block; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; border: 1px solid #ccc; border-right: none; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; height: 30px; padding: 0px; outline: none; padding-left: 5px; }

.content .content-right .change .z-find #z-condition { width: 90px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.content .content-right .change .z-find #z-findclass { width: 70px; }

.content .content-right .change .z-find .z-findval { width: 200px; border: 1px solid #ccc; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.content .content-right .tablebox { padding: 10px; }

.content .content-right .tablebox .l-form div { padding-left: 10px; float: left; width: 370px; line-height: 33px; }

.content .content-right .tablebox .l-form input { height: 33px; width: 290px; margin-left: 10px; margin-bottom: 10px; float: right; }

.content .content-right .tablebox .l-form .btn { float: right; }

.content .content-right .tablebox .l-table:first-child { width: 20px; height: 33px; }

.content .content-right .tablebox .l-table th { padding: 10px 20px; border: 1px solid #E1E1E1; }

.content .content-right .tablebox .l-table tr { border: 1px solid #E1E1E1; }

.content .content-right .tablebox .l-table tr td { border-right: 1px solid #E1E1E1; height: 33px; text-align: center; }

.content .content-right .tablebox .l-table tr td > i { font-size: 12px; margin-right: 5px; margin-left: 5px; color: #58bc58; }

.content .content-right .tablebox .l-table tr td > i:hover { cursor: pointer; }

.content .content-right .tablebox .l-table tr td .deltr { color: red; }

.content .content-right .tablebox .l-table tr td input { width: 50px; border: 0; color: #303030; background-color: #fff; padding: 5px 4px 6px; font-size: 14px; outline: none; }

.content .content-right .tablebox .l-div { margin-top: 10px; }

.content .content-right .tablebox .list .selector { background: #ffe48d; }

.content .content-right .tablebox .list th { padding: 10px 40px; border: 1px solid #E1E1E1; background: #FBFBFB; }

.content .content-right .tablebox .list tr { border: 1px solid #E1E1E1; }

.content .content-right .tablebox .list tr:hover { background: #FBFBFB; }

.content .content-right .tablebox .list tr td { border-right: 1px solid #E1E1E1; height: 33px; text-align: center; }

.content .content-right .tablebox .list tr td span { background: #3a87ad; }

.content .content-right .tablebox .l-tab tr { border: 1px solid #E1E1E1; }

.content .content-right .tablebox .l-tab tr:hover { background: #FBFBFB; }

.content .content-right .tablebox .l-tab tr th { padding: 10px 40px; border: 1px solid #E1E1E1; background: #FBFBFB; }

.content .content-right .tablebox .l-tab tr td { border-right: 1px solid #E1E1E1; text-align: center; padding: 5px; }

.content .content-right .tablebox .z-table { border: 1px solid #e1e1e1; }

.content .content-right .tablebox .z-table tr th { border: 1px solid #E1E1E1; padding: 10px 10px; text-align: center; background-color: #F8FAFC; }

.content .content-right .tablebox .z-table tbody { height: 420px; }

.content .content-right .tablebox .z-table tbody tr:hover { background-color: #ffa; }

.content .content-right .tablebox .z-table tbody tr td { border: 1px solid #E1E1E1; padding: 10px 10px; height: 30px; text-align: center; }

.content .content-right .tablebox .z-table tbody tr.z-active { background-color: #f60; }

.content .content-right .z-cover { position: absolute; right: 0px; width: 100%; background-color: rgba(0, 0, 0, 0.4); display: none; }

.content .content-right .z-cover .z-addform, .content .content-right .z-cover .z-updateform, .content .content-right .z-cover .z-putawayform, .content .content-right .z-cover .z-outawayform { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 500px; width: 700px; background-color: #fff; border: 1px solid #ccc; }

.content .content-right .z-cover .z-addform .z-title, .content .content-right .z-cover .z-updateform .z-title, .content .content-right .z-cover .z-putawayform .z-title, .content .content-right .z-cover .z-outawayform .z-title { height: 50px; line-height: 50px; font-size: 14px; border-bottom: 1px solid #ccc; color: #478fca; text-indent: 5px; width: 100%; position: relative; }

.content .content-right .z-cover .z-addform .z-title .glyphicon-remove, .content .content-right .z-cover .z-updateform .z-title .glyphicon-remove, .content .content-right .z-cover .z-putawayform .z-title .glyphicon-remove, .content .content-right .z-cover .z-outawayform .z-title .glyphicon-remove { position: absolute; right: 10px; font-size: 20px; top: 50%; transform: translateY(-50%); color: #ccc; }

.content .content-right .z-cover .z-addform .z-title .glyphicon-remove:hover, .content .content-right .z-cover .z-updateform .z-title .glyphicon-remove:hover, .content .content-right .z-cover .z-putawayform .z-title .glyphicon-remove:hover, .content .content-right .z-cover .z-outawayform .z-title .glyphicon-remove:hover { color: #666; }

.content .content-right .z-cover .z-addform .z-content, .content .content-right .z-cover .z-updateform .z-content, .content .content-right .z-cover .z-putawayform .z-content, .content .content-right .z-cover .z-outawayform .z-content { margin: 10px; border: 1px solid #ccc; padding: 10px 20px; height: 380px; position: relative; }

.content .content-right .z-cover .z-addform .z-content .form-group, .content .content-right .z-cover .z-updateform .z-content .form-group, .content .content-right .z-cover .z-putawayform .z-content .form-group, .content .content-right .z-cover .z-outawayform .z-content .form-group { margin-right: 20px; }

.content .content-right .z-cover .z-addform .z-content .form-group .form-control, .content .content-right .z-cover .z-updateform .z-content .form-group .form-control, .content .content-right .z-cover .z-putawayform .z-content .form-group .form-control, .content .content-right .z-cover .z-outawayform .z-content .form-group .form-control { width: 215px; display: inline-block; }

.content .content-right .z-cover .z-addform .z-content .form-group label, .content .content-right .z-cover .z-updateform .z-content .form-group label, .content .content-right .z-cover .z-putawayform .z-content .form-group label, .content .content-right .z-cover .z-outawayform .z-content .form-group label { width: 70px; }

.content .content-right .z-cover .z-addform .z-content .tips, .content .content-right .z-cover .z-updateform .z-content .tips, .content .content-right .z-cover .z-putawayform .z-content .tips, .content .content-right .z-cover .z-outawayform .z-content .tips { position: absolute; bottom: 10px; right: 20px; color: red; }

.content .content-right .z-cover .z-addform .z-bottom, .content .content-right .z-cover .z-updateform .z-bottom, .content .content-right .z-cover .z-putawayform .z-bottom, .content .content-right .z-cover .z-outawayform .z-bottom { border-top: 1px solid #ccc; height: 48px; background-color: #eff3f8; }

.content .content-right .z-cover .z-addform .z-bottom .btn-success, .content .content-right .z-cover .z-updateform .z-bottom .btn-success, .content .content-right .z-cover .z-putawayform .z-bottom .btn-success, .content .content-right .z-cover .z-outawayform .z-bottom .btn-success { float: right; margin-top: 7px; margin-right: 10px; width: 80px; border-radius: 0px; }

.content .content-right .z-cover .z-remove { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 150px; width: 100%; background-color: #333; display: none; }

.content .content-right .z-cover .z-remove .z-showcode { height: 30px; color: #ddd; font-size: 16px; text-align: center; margin-top: 30px; }

.content .content-right .z-cover .z-remove .z-showbtn { height: 30px; text-align: center; margin-top: 20px; }

.content .content-right .z-cover .z-remove .z-showbtn .btn { margin-right: 10px; width: 80px; height: 35px; border-radius: 0px; font-size: 16px; }

.content .content-right .t-table thead tr th { text-align: center; padding: 0 15px; height: 38px; }

.content .content-right .t-table tbody tr:hover { background-color: #EEEEEE; }

.content .content-right .t-table tbody tr th { text-align: center; width: 90px; height: 38px; }

.content .content-right .t-table tbody tr th .add { color: #449D44; margin-right: 10px; }

.content .content-right .t-table tbody tr th .remove { color: #C9302C; }

.content .content-right .t-table tbody tr th:first-child { widows: 80px; }

.content .content-right .t-table tbody tr td { text-align: center; padding: 0 15px; height: 38px; }

.content .content-right .t-table tfoot tr:hover { background-color: #EEEEEE; }

.content .content-right .t-table tfoot tr th { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tfoot tr th .add { color: #449D44; margin-right: 10px; }

.content .content-right .t-table tfoot tr th .remove { color: #C9302C; }

.content .content-right .t-table tfoot tr td { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tfoot tr td input { border: none; width: 120px; height: 38px; text-align: center; }

.content .content-right .page { width: 1000px; height: 50px; margin-left: 10px; margin-top: 10px; }

.content .content-right .page ul { float: right; }

.content .content-right .page ul li { float: left; width: 30px; height: 30px; background-color: #31B0D5; margin-right: 10px; line-height: 30px; text-align: center; }

.content .content-right .page ul li:last-child { margin-right: 50px; }

.content .content-right #t-product { position: relative; }

.content .content-right #t-product .t-cover { position: absolute; top: 0px; right: 0px; width: 100%; background-color: rgba(0, 0, 0, 0.4); display: none; height: 560px; }

.content .content-right #t-product .t-cover .z-addform, .content .content-right #t-product .t-cover .z-updateform { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 500px; width: 700px; background-color: #fff; border: 1px solid #ccc; }

.content .content-right #t-product .t-cover .z-addform .z-title, .content .content-right #t-product .t-cover .z-updateform .z-title { height: 50px; line-height: 50px; font-size: 14px; border-bottom: 1px solid #ccc; color: #478fca; text-indent: 5px; width: 100%; position: relative; }

.content .content-right #t-product .t-cover .z-addform .z-title .glyphicon-remove, .content .content-right #t-product .t-cover .z-updateform .z-title .glyphicon-remove { position: absolute; right: 10px; font-size: 20px; top: 50%; transform: translateY(-50%); color: #ccc; }

.content .content-right #t-product .t-cover .z-addform .z-title .glyphicon-remove:hover, .content .content-right #t-product .t-cover .z-updateform .z-title .glyphicon-remove:hover { color: #666; }

.content .content-right #t-product .t-cover .z-addform .z-content, .content .content-right #t-product .t-cover .z-updateform .z-content { margin: 10px; border: 1px solid #ccc; padding: 10px 20px; height: 380px; position: relative; }

.content .content-right #t-product .t-cover .z-addform .z-content .form-group, .content .content-right #t-product .t-cover .z-updateform .z-content .form-group { margin-right: 20px; }

.content .content-right #t-product .t-cover .z-addform .z-content .form-group .form-control, .content .content-right #t-product .t-cover .z-updateform .z-content .form-group .form-control { width: 215px; display: inline-block; }

.content .content-right #t-product .t-cover .z-addform .z-content .form-group label, .content .content-right #t-product .t-cover .z-updateform .z-content .form-group label { width: 70px; }

.content .content-right #t-product .t-cover .z-addform .z-content .tips, .content .content-right #t-product .t-cover .z-updateform .z-content .tips { position: absolute; bottom: 10px; right: 20px; color: red; }

.content .content-right #t-product .t-cover .z-addform .z-bottom, .content .content-right #t-product .t-cover .z-updateform .z-bottom { border-top: 1px solid #ccc; height: 48px; background-color: #eff3f8; }

.content .content-right #t-product .t-cover .z-addform .z-bottom .btn-success, .content .content-right #t-product .t-cover .z-updateform .z-bottom .btn-success { float: right; margin-top: 7px; margin-right: 10px; width: 80px; border-radius: 0px; }

.content .content-right #t-product .t-cover .z-remove { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 150px; width: 100%; background-color: #333; display: none; }

.content .content-right #t-product .t-cover .z-remove .z-showcode { height: 30px; color: #ddd; font-size: 16px; text-align: center; margin-top: 30px; }

.content .content-right #t-product .t-cover .z-remove .z-showbtn { height: 30px; text-align: center; margin-top: 20px; }

.content .content-right #t-product .t-cover .z-remove .z-showbtn .btn { margin-right: 10px; width: 80px; height: 35px; border-radius: 0px; font-size: 16px; }

.content .content-right #t-product .t-cover .t-find { display: none; }

.content .content-right #t-money { height: 520px; width: 800px; position: relative; }

.content .content-right #t-money .t-table { float: left; }

.content .content-right #t-money .t-table .tbody { overflow: auto; height: 400px; }

.content .content-right #t-money .bar { text-align: center; line-height: 100px; width: 970px; position: absolute; left: 0; bottom: 0; height: 100px; border: 1px solid #DDDDDD; }

.content .content-right #t-money .bar .flbar { margin-left: 20px; }

.content .content-right #t-money .bar #barCode { width: 200px; margin: 33px 50px 0 20px; }

.content .content-right #t-money .bar #total { width: 200px; margin: 33px 0 0 20px; }
