.header { box-shadow: none; min-height: 8%; background: #438eb9; }

.header .fl { color: #ffffff; font-size: 24px; text-shadow: none; padding-top: 8px; margin-left: 20px; height: auto; }

.content { height: 92%; }

.content .navleft { width: 11%; height: 100%; background-color: #f2f2f2; border-style: solid; border-color: #cccccc; border-width: 0 1px 0 0; }

.content .navleft .navlist li { display: block; position: relative; border-style: solid; border-width: 0 0 1px; border-color: #e5e5e5; height: 39px; }

.content .navleft .navlist li a { display: block; height: auto; line-height: 16px; padding: 2px 0 8px; text-indent: 10px; color: #585858; line-height: 39px; height: 39px; padding: 0 10px; }

.content .navleft .navlist li a:hover { color: #2b7dbc; background: #fff; text-decoration: none; }

.content .navleft .navlist li a i { display: block; margin: 0; vertical-align: inherit; line-height: 39px; height: 39px; font-size: 18px; }

.content .navleft .navlist li a b { display: block; width: 20px; height: 20px; float: right; margin-top: 11px; font-weight: normal; }

.content .content-right { width: 89%; }

.content .content-right p { margin: 0px; line-height: 37px; height: 37px; background-color: #f9f9f9; }

.content .content-right .title { float: left; margin-left: 14px; margin-top: 2px; position: relative; padding-left: 20px; }

.content .content-right .title i { margin-top: 10px; left: 0px; color: #5cb85c; position: absolute; }

.content .content-right .change { height: 40px; border-top: 1px solid #DCE8F1; border-bottom: 1px solid #E0E2E5; background-color: #F8FAFC; }

.content .content-right .change .btn { margin-top: 5px; margin-right: 5px; height: 30px; line-height: 16px; border-radius: 0px; width: 60px; font-size: 12px; }

.content .content-right .change .btn-success { margin-left: -75px; }

.content .content-right .t-table thead tr th { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tbody tr:hover { background-color: #EEEEEE; }

.content .content-right .t-table tbody tr th { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tbody tr th .add { color: #449D44; margin-right: 10px; }

.content .content-right .t-table tbody tr th .remove { color: #C9302C; }

.content .content-right .t-table tbody tr td { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tbody tr td input { border: none; width: 120px; height: 38px; text-align: center; }

.content .content-right .t-table tfoot tr:hover { background-color: #EEEEEE; }

.content .content-right .t-table tfoot tr th { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tfoot tr th .add { color: #449D44; margin-right: 10px; }

.content .content-right .t-table tfoot tr th .remove { color: #C9302C; }

.content .content-right .t-table tfoot tr td { text-align: center; width: 120px; height: 38px; }

.content .content-right .t-table tfoot tr td input { border: none; width: 120px; height: 38px; text-align: center; }

.content .content-right .page { width: 1000px; height: 50px; margin-left: 10px; margin-top: 10px; }

.content .content-right .page ul { float: right; }

.content .content-right .page ul li { float: left; width: 30px; height: 30px; background-color: #31B0D5; margin-right: 10px; line-height: 30px; text-align: center; }

.content .content-right .page ul li:last-child { margin-right: 50px; }
